<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title></title>
</head>
<body>
  <h1>Hi</h1>

  <div id="messages"></div>

  <form id="type-box">
    <input type="text" placeholder="type your message here">
    <button>Send</button>
  </form>
</body>
</html>